@import '../../assets/scss/_variables.scss';

.page {
	&.quiz {
		h2 {
			margin: 32px 0 64px;
			text-align: center;
		}

		.buttons {
			margin-top: 64px;
		}

		.MuiRadio-colorSecondary.Mui-checked:hover {
			border-radius: 0;
		}

		.MuiFormGroup-root {
			justify-content: center;
		}
	}
}
